.projectsContainer {
  padding: 60px;
  position: relative;
}
.projectsImage {
  height: 300px;
  width: 100%;
}

.projectInfo {
  position: absolute;
  top: 150px;

  margin-left: 74px;
}
.demobtn {
  width: 120px;
  margin-top: 20px;
  margin-left: 70px;
}
@media (min-width: 300px) and (max-width: 700px) {
  .projectsContainer {
    padding: 0;
  }
}
