.projectsContainer {
  padding: 60px;
}
.projectsImage {
  height: 400px;
  width: 100%;
}

.projectInfo {
  text-align: center;
  margin-bottom: 20px;
}
.demobtn {
  width: 120px;
  margin-top: 20px;
  margin-left: 80px;
}
@media (min-width: 300px) and (max-width: 700px) {
  .projectsContainer {
    padding: 0;
    margin-top: 30px;
  }
  .projectsImage {
    width: 100%;
  }
  .demobtn {
    margin-left: 70px;
  }
  .projectInfo {
    margin-left: 0px;
  }
}
