.aboutContainer {
  margin-top: 70px;
}
.aboutBanner {
  border: 10px solid #eca600;
}
.aboutInfo {
  margin-left: 30px;
}
.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0px 3px 6px;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  z-index: 0;
}

.hbtn i {
  padding-right: 8px;
}

.hb-fill-middle-br::before {
  position: absolute;
  content: "";
  background: rgb(255, 255, 255);
  transition-duration: 0.3s;
  z-index: -1;
  inset: auto auto 0px 0px;
  width: 100%;
  height: 0px;
  opacity: 1;
  border: 2px solid rgb(255, 255, 255);
}

.hb-fill-middle-br:hover::before {
  width: 100%;
  height: 50%;
  opacity: 1;
}

.hb-fill-middle-br:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: color 0.3s ease 0s, background 0s ease 0.3s;
}

.hb-fill-middle-br::after {
  position: absolute;
  content: "";
  background: rgb(255, 255, 255);
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 100%;
  height: 0px;
  opacity: 1;
  border: 2px solid rgb(255, 255, 255);
}

.hb-fill-middle-br:hover::after {
  height: 50%;
}
